.venv
.env
.vscode/

#  MacOS
*.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
.idea/
*.egg-info/
dist/
build/
node_modules/
coverage/
htmlcov/
media/
staticfiles/
*.bak
*.orig
*.tmp
*.sass-cache/
*.cache/
*.pytest_cache/
.env.*
local_settings.py
secrets.json
bucket/
complex_state.py